// FONTS
$main-font-family: 'Montserrat', 'Arial', sans-serif;

//FONT COLORS
$first-font-color: #030303;
$second-font-color: #ffffff;
$third-font-color: #a3a3a3;
$fourth-font-color: #9b9b9b;
$some-text-color: rgb(61, 61, 61);

//  COLORS
$main-color: #ffffff;
$second-background-color: #f3f3f3;
$third-color: #030303;
$hover-color: #6f8ed2;

//shadow-color
$rev-shadow: #1d1d1b17;

//media
$mobile-bp-max: 767px;
$mobile-w-min: 280px;

$tablet-bp-min: 768px;
$tablet-w: 688px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1326px;
