.page-sections-largest {
  padding-top: 84px;
  padding-bottom: 90px;
  background-image: url('../images/sections/bg_sections.jpg');
  background-repeat: none;
  background-size: cover;
  text-align: center;
}
.page-sections-largest__title {
  width: 730px;
  margin: 0 auto;

  @include font-settings(2.875rem, 1, 700, $second-font-color);
  text-transform: uppercase;

  margin-bottom: 20px;
}

.page-sections-largest__text {
  width: 854px;
  @include font-settings(1.3125rem, 1, 400, $second-font-color);
  margin: 0 auto;
}
